<% provide(:title, "Edit court opinion") %>
<h1>Edit court opinion</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@opinion, html: { multipart: true }) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :content %>
      <%= f.text_area :content, class: 'form-control' %>

	
      <%= f.submit "Save changes", class: "btn btn-primary" %>

    <% end %>
  
  </div>
</div>