<% provide(:title, @opinion.name) %>
<div class="row">
  <div class="col-sm-9">
    <h4><%= @opinion.name %></h4>
    <p><%= markdown(@opinion.content) %></p>
    <small><%= link_to "Edit", edit_opinion_path(@opinion) %></small>
  </div>
  <div class="col-sm-3 col-sm-9-offset">
	
  <ol class="inline-comments">
	<li id="inline-comment-form" style="display: none;">
		<div class="row">	
		<div class="user-avatar">
			<div class="user-avatar-inner">
				<span class="user">
					<% if logged_in? %>
			    		<%= image_tag current_user.avatar.url(:thumb)  %>
					<% else %>
						<img src="/uploads/user/avatar/fallback/thumb_profile_default_pic.png", height="35px">
					<% end %>
					</span>
				</div>
			</div>
			<div class="comment-body">

	<%= form_for([@opinion, @comment], remote: true, :html => { :role => "form" }) do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>
		<div class="form-group">
			  <%= f.hidden_field :parent_id %>
	    	<%= f.text_area :content, class: "form-control expand", placeholder: "Enter new comment..." %>
	  	</div>
	  	<div class="btn-group">
			<%= f.submit "Publish", class: "btn btn-xs btn-success" %>
		</div>
	<% end %>
			</div>	
	</div>
	</li>
	</ol>
  </div>
</div>


<script>
$('span.commentable').click(function () {
	$('span.commentable.clicked-comment').removeClass('clicked-comment');
    $(this).addClass("clicked-comment");
   	var pos = $(this).position();
    var width = $(this).outerWidth();

	//show the comment form next to span
	$('#inline-comment-form').hide();
	$('#inline-comment-form').css({
		position: "absolute",
	    top: pos.top + "px",
	}).slideDown();
});

$('textarea.expand').focus(function () {
  $(this).attr('data-default', $(this).height());
  $(this).animate({ height: 80 }, 'slow');
}).blur(function() {
  $(this).animate({ height: 50 }, 'slow');
});

</script>