<li>
<div class="row">
	
<div class="user-avatar">
  <div class="user-avatar-inner">
    <span class="user">
      <%= image_tag comment.user.avatar.url(:thumb), height: "35px"  %>
  	</span>
  </div>
</div>
	
<div class="comment-body">
  <%= link_to comment.user.username, user_path(comment.user) %> 
  <span class="comment-timestamp">&bull; &nbsp;<%= time_ago_in_words(comment.created_at) %> ago
  </span>

	<% if current_user?(comment.user) %> 
    <%= link_to "delete", post_comment_path(comment.post_id, comment), method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: comment.content %>
  <% end %>
	<br>
  <span class="comment-content"><%= markdown(comment.content) %></span>

<div class="voters">
<a class="upvoter"></a>
</div>
<% if logged_in? %>
	<%= link_to "Reply", new_post_comment_path(comment.post_id, :parent_id => comment), id: "reply-to-post-" + comment.id.to_s, remote: true, :class => "reply-link" %>
<% else %>
	<%= link_to "Reply", login_path, :class => "reply-link"  %>
<% end %>
</div>

	
</div> 
</li>