<% provide(:title, 'Register') %>

<div class="row">
  <div class="col-md-4 login">

	<h5>Register</h5>
	
    <%= form_for(@user) do |f| %>
	<div class="input-group input-group-sm">

      <%= render 'shared/error_messages', object: f.object %>
      <%= f.text_field :username, placeholder: "Username", class: 'form-control' %>

      <%= f.email_field :email, placeholder: "Email", class: 'form-control' %>

      <%= f.password_field :password, placeholder: "Password", class: 'form-control' %>

      <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: 'form-control' %>

      <%= f.submit "Register", class: "btn btn-sm btn-primary login-button" %>
    <% end %>
</div>
  </div>
  <div class="col-md-8 col-md-offset-4">
  </div>	
</div>