<%= form_for([@post, @comment], :html => { :role => "form" }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
	<div class="form-group">
		  <%= f.hidden_field :parent_id %>
    	<%= f.text_area :content, class: "form-control expand", placeholder: "Enter new comment..." %>
  	</div>
  	<div class="btn-group">
		<%= f.submit "Publish", class: "btn btn-sm btn-success" %>
	</div>
<% end %>

<script>
$('textarea.expand').focus(function () {
  $(this).attr('data-default', $(this).height());
  $(this).animate({ height: 100 }, 'slow');
}).blur(function() {
  $(this).animate({ height: 50 }, 'slow');
});
</script>