<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :headline, placeholder: "Headline", class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.text_field :url, placeholder: "Link", class: 'form-control' %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>