<li id="post-<%= post.id %>">

<p>

<div class="voters">
	<%= link_to "", vote_post_path(post, type: "up"), method: "post", :class => "upvoter" %>
	<div class="score"><%= post.reputation_for(:post_votes).to_i %></div>
</div>
	
<div class="post-content">
	<span class="headline"><%= link_to post.headline, post.url %>
		<% if post.tags.any? %>
	   		<span class="tags"><%= raw post.tag_list.map { |t| link_to t.titleize, tag_path(t), class: "tag" }.join(' ') %></span>
		<% end %>
	 	<small class="domain"><%= post.domain %></small>
	</span>	
 
	<span class="timestamp">
		<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>  <%= link_to post.comments.count.to_s + ' comments', post %> | 
 <%= time_ago_in_words(post.created_at) %> ago

 <% if logged_in? && current_user.admin? %>
   | <%= link_to "delete", post, method: :delete,
                                 data: { confirm: "Are you sure?" } %>
 <% end %>
	</span>



</div>

</p>
</li>
