<li id="post-<%= post.id %>">
<p>
<div class="voters">
	<% if current_user && post.evaluation_value(current_user, post) == "upvoted" %>
	<%= link_to "", vote_post_path(post, type: "up"), method: "post", class: "upvoter voted", remote: true, id: "voter-" + post.id.to_s %>
	<% else %>
	<%= link_to "", vote_post_path(post, type: "up"), method: "post", class: "upvoter", remote: true, id: "voter-" + post.id.to_s %>
	<% end %>
	
	<div class="score" id="score-<%= post.id %>" >
		<%= post.reputation_for(:post_votes).to_i %>
	</div>
</div>
	
<div class="post-content">
	<span class="headline"><%= link_to post.headline, post.url %>
		<% if post.tags.any? %>
	   		<span class="tags"><%= raw post.tag_list.map { |t| link_to t.titleize, tag_path(t), class: "tag" }.join(' ') %></span>
		<% end %>
	 	<% if post.url? %>
			<small class="domain">
				<%= post.domain %>
			</small>
		<% end %>
	</span>	
 
	<span class="timestamp">
		<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>  <%= link_to post.comments.count.to_s + ' comments', post %> | 
 <%= time_ago_in_words(post.created_at) %> ago

 <% if logged_in? && current_user.admin? %>
   | <%= link_to "delete", post, method: :delete,
                                 data: { confirm: "Are you sure?" } %>
 <% end %>
	</span>
</div>
</p>
</li>
