<header class="navbar navbar-fixed-top navbar">
  <div class="container ">
		<div class="row">
			<div class="col-sm-2">
			</div>
			<div class="col-sm-10 header">	
    <%= link_to "dailydocket.org", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
		<% if logged_in? %>
		  <li><%= link_to "Users", users_path %></li>
		  <li class="dropdown">
		    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= current_user.username %> <b class="caret"></b></a>
		      <ul class="dropdown-menu">
		        <li><%= link_to "Profile", current_user %></li>
		         <li><%= link_to "Settings", edit_user_path(current_user) %></li>
		         <li class="divider"></li>
		         <li><%= link_to "Log out", logout_path, method: "delete" %></li>
		      </ul>
		   </li>
		 <% else %>
		   <li><%= link_to "Login/Register", register_path %></li>
		 <% end %>

  		<li><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">Post</button></li>
      </ul>
    </nav>
			</div>
  </div>
</header>


<!-- Modal HTML -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Do you want to save changes you made to document before closing?</p>
                <p class="text-warning"><small>If you don't save, your changes will be lost.</small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
