<header class="navbar navbar-fixed-top navbar">
  <div class="container ">
		<div class="row">
			<div class="col-sm-2">
			</div>
			<div class="col-sm-10 header">	
		      <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#collapsed-content">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>		
	
	
    <%= link_to "dailydocket.org", root_path, id: "logo" %> 

    <nav>
	    <div class="collapse navbar-collapse" id="collapsed-content">
      <ul class="nav navbar-nav navbar-right">
		<% if logged_in? %>
		  <li><%= link_to "Users", users_path %></li>
		  <li class="dropdown">
		    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= current_user.username %> <b class="caret"></b></a>
		      <ul class="dropdown-menu">
		        <li><%= link_to "Profile", current_user %></li>
		         <li><%= link_to "Settings", edit_user_path(current_user) %></li>
		         <li class="divider"></li>
		         <li><%= link_to "Log out", logout_path, method: "delete" %></li>
		      </ul>
		   </li>
		 <% else %>
		<li><button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#loginModal">Login/Register</button></li>
		 <% end %>
  		<li><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#postModal">Post</button></li>
      </ul>
		</div>
    </nav>

			</div>
			
  </div>
</header>


<!-- Post Modal HTML -->
<div id="postModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><center>New Post</center></h4>
            </div>
            <div class="modal-body">
				<% if logged_in? %>
				<section class="post_form">
					  <%= render 'shared/post_form' %>
				</section>
				<% else %>
					  <p>Please login or <%= link_to 'register', register_path %> to continue.</p>
					  <%= render 'shared/login_form' %>
				<% end %>
            </div>
  <!--          <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>


<!-- Login Modal HTML -->
<div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><center>Login</center></h4>
            </div>
            <div class="modal-body">
	
				<div role="tabpanel">
				  <!-- Nav tabs -->
				  <ul class="nav nav-tabs" role="tablist">
				    <li role="presentation" class="active"><a href="#login" aria-controls="home" role="tab" data-toggle="tab">Login</a></li>
				    <li role="presentation"><a href="#register" aria-controls="profile" role="tab" data-toggle="tab">Register</a></li>
				  </ul>

				  <!-- Tab panes -->
				  <div class="tab-content">
				    <div role="tabpanel" class="tab-pane active" id="login">
					<section class="post_form">
						<br>
						<%= render 'shared/login_form' %>
					<br>
					<p><%= link_to "Forgot your password?", new_password_reset_path %></p><p>Don't have an account? <%= link_to 'Create one here', register_path %>.</p>
					</section>    	
		
				    </div>
				    <div role="tabpanel" class="tab-pane" id="register">
				    	<%= render 'shared/login_form' %>
				    </div>
				  </div>

				</div>
				
			</div>
  <!--          <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>