
<header class="navbar navbar-fixed-top navbar">
  <div class="container ">
		<div class="row">

			<div class="col-sm-12 header">	
		      <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#collapsed-content">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>		
	
	<img src='/uploads/logo/scales_of_justice_gold.png' width='20px' style="float: left; padding-top: 18px;">
    <%= link_to "dailydocket.org", root_path, id: "logo" %> 

    <nav>
	    <div class="collapse navbar-collapse" id="collapsed-content">
      
<p class="navbar-text navbar-left">
	<%= link_to "News", root_path, :class => "navbar-link" %>
	<%= link_to "Rules", rules_path, :class => "navbar-link" %>
	<%= link_to "Jobs", jobs_path, :class => "navbar-link" %>
</p>


<ul class="navbar-text navbar-right list-inline">

  <% if logged_in? %>

    <li class="dropdown">
	  <a href="#" class="dropdown-toggle navbar-link" data-toggle="dropdown"> <%= current_user.username %> <b class="caret"></b></a>
	  <ul class="dropdown-menu">
	    <li><%= link_to "Profile", current_user %></li>
		<li><%= link_to "Settings", edit_user_path(current_user) %></li>
		<li class="divider"></li>
		<li><%= link_to "Log out", logout_path, method: "delete" %></li>
	  </ul>
	</li>
	<li><%= link_to "Post", new_post_path, :class => "navbar-link" %></li>
  							
  <% else %>

  	<li><%= link_to "Login", login_path, :class => "navbar-link" %></li>

  <% end %>

</ul>
  
  </div> <!-- navbar-collapse -->
  </nav> 
  </div> <!-- col-sm-12 header -->
  </div> <!-- row --> 
</div> <!-- container -->
</header>






<!-- Post Modal HTML -->
<div id="postModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><center>New Post</center></h4>
            </div>
            <div class="modal-body">
				<% if logged_in? %>
				<section class="post_form">
					  <%= render 'shared/post_form' %>
				</section>
				<% else %>
					  <p>Please login or <%= link_to 'register', register_path %> to continue.</p>
					  <%= render 'shared/login_form' %>
				<% end %>
            </div>
  <!--          <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>


<!-- Login Modal HTML -->
<div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><center>Login</center></h4>
            </div>
            <div class="modal-body">
	
				<div role="tabpanel">
				  <!-- Nav tabs -->
				  <ul class="nav nav-tabs" role="tablist">
				    <li role="presentation" class="active"><a href="#login" aria-controls="home" role="tab" data-toggle="tab">Login</a></li>
				    <li role="presentation"><a href="#register" aria-controls="profile" role="tab" data-toggle="tab">Register</a></li>
				  </ul>

				  <!-- Tab panes -->
				  <div class="tab-content">
				    <div role="tabpanel" class="tab-pane active" id="login">
					<section class="post_form">
						<br>
						<%= render 'shared/login_form' %>
					<br>
					<p><%= link_to "Forgot your password?", new_password_reset_path %></p><p>Don't have an account? <%= link_to 'Create one here', register_path %>.</p>
					</section>    	
		
				    </div>
				    <div role="tabpanel" class="tab-pane" id="register">
				    	<%= render 'shared/login_form' %>
				    </div>
				  </div>

				</div>
				
			</div>
  <!--          <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>