<!DOCTYPE html>
<html>
<head>
    <title><%= yield(:title) %> | dailydocket.org</title>  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>

</head>
<body>
	<%= render 'layouts/header' %>
    <div class="container">
		<div class="row">
			<div class="col-sm-2 sidebar">
				
				<h5><span class="glyphicon glyphicon-star" aria-hidden="true">&nbsp;</span>
					<% if current_page?(root_path) %>
						News
					<% else %>
						<%= link_to "News", root_path %>
					<% end %>
				</h5>
				<h5><span class="glyphicon glyphicon-comment" aria-hidden="true">&nbsp;</span>
					<% if current_page?(rules_path) %>
						Rules
					<% else %>
						<%= link_to "Rules", rules_path %>
					<% end %>
				</h5>
				<h5><span class="glyphicon glyphicon-briefcase" aria-hidden="true">&nbsp;</span>
					<% if current_page?(jobs_path) %>
						Jobs
					<% else %>
						<%= link_to "Jobs", jobs_path %>
					<% end %>
					</h5>
				<%= render 'layouts/footer' %>
			</div>
			<div class="col-sm-10 content">
      			<%= yield %>
			</div>
		</div>
    </div>
  </body>
</html>
